{% extends 'base.html' %}

{% block content %}
    <br>
    <section id="services" class="services section-bg">
        <div class="container">

            <div class="section-titleTwo" data-aos="fade-up">
                <h1>{% block title %} Over burn-outs {% endblock %}</h1>
                <br>
                <h2>Een burn-out</h2>
                <p>Een burn-out is een stadium die je bereikt na langdurig in contact te zijn geweest met stress en
                    spanning.
                    Klachten kunnen mensen lichamelijk en geestelijk ervaren en daardoor niet alleen een psychisch
                    probleem.</p>
                <br/>
                <p>Een burn-out kan ontstaan op verschillende locaties zoals thuis of in een werkomgeving. Dat betekent
                    ook dat een
                    burn-out bij alle verschillende mensen kan voorkomen.</p> <br/>
                <p>Gedurende een burn-out zijn mensen als persoon vaak helemaal opgebrand. Hierdoor gaan mensen voelen
                    dat de taken
                    die mensen normaal doen een enorme moeite worden. In het begin voelen de meeste mensen dat ze het
                    nog in eigen
                    hand hebben, maar langzaam merken mensen dat ze het toch niet in hun eigen handen hebben. Mensen die
                    dit ervaren
                    moeten er ook mee aan de slag om er iets tegen te doen, anders blijft de burn-out.</p> <br/>

                <h2>Symptomen van een burn-out</h2>
                <p>Hoe herkennen mensen eigenlijk een burn-out? Dat zou herkent kunnen worden door de verschillende
                    symptomen van
                    een burn-out.</p> <br/>
                <p>De symptomen van een burn-out kunnen in verdeeld worden in twee onderdelen, psychische symptomen en
                    lichamelijke
                    symptomen.</p> <br/>
                <p>Psychische symptomen:</p>
                <ul>
                    <li>geheugenproblemen</li>
                    <li>besluiteloosheid</li>
                    <li>onzekerheid</li>
                    <li>laag zelfbeeld</li>
                    <li>neerslachtig</li>
                    <li>opgejaagd voelen</li>
                    <li>wantrouwend zijn</li>
                    <li>angst- en paniekklachten</li>
                    <li>cynisch reageren en afstand voelen tot je werk of gezin</li>
                    <li>makkelijk huilen</li>
                    <li>prikkelbaar: snel ergeren, boos worden of een kort lontje</li>
                    <li>concentratieproblemen</li>
                </ul>
                <br/>

                <p>Lichamelijke symptomen:</p>
                <ul>
                    <li>uitputting</li>
                    <li>hoofdpijn</li>
                    <li>spierpijn</li>
                    <li>misselijkheid</li>
                    <li>buikpijn</li>
                    <li>hartkloppingen</li>
                    <li>hyperventilatie</li>
                    <li>hoge bloeddruk</li>
                    <li>benauwdheid</li>
                    <li>slapeloosheid</li>
                    <li>vermoeidheid</li>
                    <li>snel grieperig</li>
                </ul>
                <br/>

                <h2>Een burn-out behandelen</h2>
                <p>Om een burn-out te behandelen wordt er vaak verwezen naar een psychologen die gespecialiseerd zijn in
                    burn-out
                    klachten en kunnen mensen helpen om stress en spanning te verminderen.
                </p>
            </div>

        </div>
    </section>
{% endblock %}